Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: "liquorpark"
          roleName: "aws-elasticbeanstalk-ec2-role"

packages:
  yum:
    git: []
    mod24_ssl : []
    postgresql94-devel: []

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "project.settings"
    PYTHONPATH: "/opt/python/current/app/liquorpark:$PYTHONPATH"
    SECRET_KEY: "c4h18z(+!oj=_(n-o3g*@#w)_fr=rew4epv_8(cc4b3%lba#8-"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "project/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "staticfiles/"

files:
  "/etc/pki/tls/certs/server.crt" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://liquorpark.s3.amazonaws.com/ssl/cert.pem
  "/etc/pki/tls/certs/server.key" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://liquorpark.s3.amazonaws.com/ssl/privkey.pem

container_commands:
  01_setup_apache:
    command: "cp .ebextensions/enable_mod_*.conf /etc/httpd/conf.d/"
  02_replace_ssl:
    command: "cp .ebextensions/ssl.conf /etc/httpd/conf.d/"
