Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: "liquorpark"
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  "/etc/pki/tls/certs/server.crt" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://liquorpark.s3.amazonaws.com/ssl/cert.pem
  "/etc/pki/tls/certs/server.key" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://liquorpark.s3.amazonaws.com/ssl/privkey.pem
  "/etc/pki/tls/certs/chain.pem" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://liquorpark.s3.amazonaws.com/ssl/fullchain.pem

container_commands:
  01_replace_https:
    command: "cp .ebextensions/https.conf /etc/nginx/conf.d/https.conf"
