{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <h1>About</h1>

    <img src="{% static 'img/shop.png' %}">

    <br/>
    <br/>
    <br/>

    <p>While working at the shop Life's a Cabernet, my boss mentioned that he was trying to sell the shop.  This sounded like a great opportunity, so I called up my friends with the skills needed to help make this business successful. Paul is an established member of the beer community was the first person I called. His father who is second generation business owner, CPA and also teaches entrepeneurship at NIU. Paul's brother Adam is a seasoned web developer and craft beer enthusiast. Together, we form a team of unique skills and a passion for making this shop a success in our community.</p>

    <p>- Janel Syron</p>

    <!-- <p>Family, Neighborhood owened operated, Female owner, employee owned & operated.</p>

    <p>We are in the process of acquiring an existing wine shop. We plan to do it different.</p>

    <p>the previous owner had the establishment for four years and decided to pursue other interest</p>

    <p>One of the owners was employed by the previous owner for 3 years and assembled this fine team to run the business</p>

    <p>We main focus is on small craft distilleries, local craft breweries and family run wineries.</p>

    <p>Family, Neighborhood owened operated, Female owner, employee owned & operated.</p>

    <p>Mr. Rogers reference, would you be my neighbor?</p>

    <p>small production distilleries</p>

    <p>if I wont drink it, I won't sell it</p>

    <p>a cpa as a part owner, we are counting every penny</p>

    <p>having a programmer as a part owner, tech rules</p>

    <p>retailler of the year are mass chains and all are guys over 40-50. we are young and hip and not old dinosaurs and have a fresh take on the marked and focus on the market and neigborhood. we are your neighbors and we know and care about what you want
    <p> -->

{% endblock %}
