{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

  <h1 class="text-center">
    <img src="{% static 'img/logo_park_bold.png' %}" class="img-responsive center-block" alt="Gearhead Workspace"/>
  </h1>
  <p/>
  <div class="text-center">
    <h2>Beer, Wine & Liquor</h2>
    <p>

      <a href="https://www.facebook.com/drinkliquorpark"><button class="btn btn-large btn-facebook"><i class="fa fa-facebook"></i> | Like on Facebook</button></a>

      <a href="https://twitter.com/drinkliquorpark"><button class="btn btn-large btn-twitter"><i class="fa fa-twitter"></i> | Follow on Twitter</button></a>

      <a href="mailto:shop@drinkliquorpark.com" class="white"><button class="btn btn-large btn-contact grey"><i class="fa fa-envelope"></i> | Email the shop</button></a>

    </p>
  </div>

  <div class="row marketing">
    <p class="lead">
    I had been working at Life's a Cabernet for about three years when my boss mentioned to me he was thinking about selling the shop in order to put more of his focus into a new business he’d started. I loved everything about the shop—what we sell, the community, and the customers—so to me this sounded like a great opportunity to take the helm.
    </p>
    <p class="lead">
    In order to realize this dream, I reached out to some friends who each had a ton of experience in the different areas necessary to run a successful liquor boutique. Paul, an established member of the Chicago beer community whose knowledge of craft brews runs deep, was the first person I called. John, Paul’s father, is a second-generation entrepreneur and CPA who has started a number of successful businesses and also teaches entrepreneurship at Northern Illinois University’s MBA school. And Paul's brother Adam is a seasoned web developer and beer enthusiast, and I knew he’d be exactly the person to keep us up-to-date with our website and our inventory and sales systems.
    <p class="lead">
    We’re transforming Life’s a Cabernet into Liquor Park. I’m proud to work with this amazing team to bring truly special craft beers, wines, and spirits to our neighborhood.
    </p>
    <p>
    Janel Syron<br/>
    Sommelier and Proprietor, Liquor Park
    </p>
  </div>


{% endblock %}
