{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

  <div class="row jumbotron">
    <h1 class="text-center">
      <img src="http://i.imgur.com/0bk8XDK.jpg" class="img-responsive" alt="Gearhead Workspace"/>
    </h1>
    <p/>
    <div class="text-center">
      <p>Beer, Wine & Liquor</p>
      <p><a class="btn btn-lg btn-success" href="#" role="button">Buy some today</a></p>
    </div>
  </div>

  <div class="row marketing">
    <p class="lead">
      Try-hard jean shorts wayfarers 8-bit authentic. Vegan sartorial gastropub fingerstache banjo fashion axe. Deep v distillery meggings, fashion axe pour-over church-key 90's sartorial Echo Park. +1 blog Marfa, shabby chic cliche semiotics ugh paleo viral. Selvage leggings McSweeney's meh Etsy. Raw denim mlkshk jean shorts PBR. Synth deep v fixie, food truck master cleanse swag gentrify next level bitters mumblecore.
    </p>
  </div>


  <div class="row">
    <h4>Need more inspirational words?</h4>
    <p>
      VHS pop-up lomo hashtag, Pinterest kitsch meh butcher paleo kogi. Godard Portland Schlitz, small batch Kickstarter Truffaut gastropub selvage freegan sriracha XOXO cliche drinking vinegar kogi flannel. Crucifix banh mi vinyl, fixie Shoreditch Williamsburg cliche. Twee polaroid sriracha, kale chips beard organic irony heirloom Austin sustainable meh cornhole four loko. Vice forage wolf viral, hella pork belly tote bag put a bird on it craft beer. Butcher mumblecore Austin, before they sold out ugh pickled Wes Anderson fanny pack Pitchfork roof party four loko yr next level Vice. Truffaut hella umami drinking vinegar, shabby chic forage YOLO flexitarian disrupt selfies fixie tattooed.
    </p>
  </div>

{% endblock %}
