{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <h1>Press for Liquor Park</h1>

    <p>Check out these great articles featuring Liquor Park!</p>

    <div class="list-group">

        {% for article in articles %}

        <a href="{{ article.url }}" class="list-group-item">
        <div class="media">
          <div class="media-left" >
              <img class="media-object" src="{{ article.og_meta.image }}" alt="{{ article.og_meta.title }}" style="max-width:320px;">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ article.og_meta.site_name }}</h4>
            {{ article.og_meta.description }}

          </div>
        </div>
        <div>
            <span class="link">{{ article.url }}</span>
        </div>
        </a>
        {% endfor %}
    </div>

{% endblock %}
