{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

    <h1>Our Team</h1>

  <br/>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{% static 'img/janel.png' %}">
     </a>
      <div class="media-body">
        <h3 class="media-heading">Janel Syron</h3>
        <p>
          Janel managed the buying and operations of Life's A Cabernet for three years. When the opportunity arose to take over the store as owner, she drank it up. Janel is Liquor Park’s resident authority on all things wine.
        </p><p>
          Janel is an International Sommelier Guild–certified sommelier who has built a dedicated clientele slinging wine for more than ten years across the Chicagoland area. Tapping her experience and expertise, she delivers spot-on pairing advice and killer recommendations for any palate, budget, or occasion.
        </p>
      </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{% static 'img/paul.png' %}">
     </a>
      <div class="media-body">
        <h3 class="media-heading">Paul Wonak</h3>
        <p>
          With eight years of experience in the Chicago craft brewing scene, Paul’s the beer guy at Liquor Park. After experimenting with home brewing in college, he was Beer Manager and then Liquor Department Manager at Chicago’s Gold Coast Whole Foods. Most recently, he was repping Two Brothers Brewing Company both across Chicago and to new distribution markets outside Illinois.
        </p><p>
          In order to take craft beer and spirits to a new level in Wicker Park, Paul brings knowledge, experience, and no attitude... probably.
        </p>
      </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{% static 'img/john.png' %}">
     </a>
      <div class="media-body">
        <h3 class="media-heading">John F. Wonak, CPA, MBA</h3>
        <p>
          John is a registered Certified Public Accountant with an undergraduate degree in Accounting and a Master’s degree in Business Administration. With a string of successful entrepreneurial ventures under his belt, John is the business backbone of Liquor Park.
        </p><p>

          He spent the first twenty years of his career in public accounting, first with BDO Seidman and next with his own accounting firm. John later cofounded OPEX Communications, a national telecommunications firm; after selling OPEX in 2007, John started Sea Level Advisory Group, which provides general business and financial consulting to small- and medium-sized businesses.
        </p><p>
          John is adjunct professor in the MBA program at his alma mater, Northern Illinois University. He has worked as a coach at NIU’s Experiential Learning Center, where he is currently a member of the Advisory Board. He has served as an instructor and a mentor at DePaul University’s Coleman Center for Entrepreneurship, and he is a mentor at the Junto Institute for Entrepreneurial Leadership, a post-accelerator school for startups in Chicago.
        </p>
      </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{% static 'img/adam.png' %}">
     </a>
      <div class="media-body">
        <h3 class="media-heading">Adam Wonak</h3>
        <p>
            Adam likes craft beer, cocktails, and coffee, but his passion is reserved for programming. As a web software developer, he keeps Liquor Park on the technological cutting edge.
        </p><p>
          He has worked for the past ten years in the dot-com startup industry. His professional experience ranges from developing and supporting web sites receiving more than 100,000 visitors a day to providing big-data analytics to companies throughout the food industry. Adam plans to use his expertise to leverage modern technology to provide the customers of Liquor Park with a wealth of up-to-date information about everything the shop has to offer.
        </p>
      </div>
    </div>

{% endblock %}
