{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

    <h1>Our Team</h1>

  <br/>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{% static 'img/janel.png' %}">
     </a>
      <div class="media-body">
        <h3 class="media-heading">Janel Syron</h3>
        <p>
          Janel managed the buying and operations of Life's A Cabernet for three years. When the opportunity arose to take over the store as owner, she drank it up. Janel is Liquor Park’s resident authority on all things wine.
        </p><p>
          Janel is an International Sommelier Guild–certified sommelier who has built a dedicated clientele slinging wine for more than ten years across the Chicagoland area. Tapping her experience and expertise, she delivers spot-on pairing advice and killer recommendations for any palate, budget, or occasion.
        </p>
      </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{% static 'img/paul.png' %}">
     </a>
      <div class="media-body">
        <h3 class="media-heading">Paul Wonak</h3>
        <p>
          With eight years of experience in the Chicago craft brewing scene, Paul’s the beer guy at Liquor Park. After experimenting with home brewing in college, he was Beer Manager and then Liquor Department Manager at Chicago’s Gold Coast Whole Foods. Most recently, he was repping Two Brothers Brewing Company both across Chicago and to new distribution markets outside Illinois.
        </p><p>
          In order to take craft beer and spirits to a new level in Wicker Park, Paul brings knowledge, experience, and no attitude... probably.
        </p>
      </div>
    </div>


{% endblock %}
