{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

    <h1>Our Team</h1>

  <br/>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{% static 'img/janel.png' %}">
     </a>
      <div class="media-body">
        <h3 class="media-heading">Janel Syron</h3>
        <p>Coming soon...</p>
<!--         <p>somm, girl, easy (recently knocked up)</p>
        <p>in the industry for over 10 years.</p>
        <p>teaching wine at Kendell college beverage management program</p>
        <p>somm certified in spanish wine</p> -->
      </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{% static 'img/paul.png' %}">
     </a>
      <div class="media-body">
        <h3 class="media-heading">Paul Wonak</h3>
        <p>Coming Soon...</p>
      </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{% static 'img/john.png' %}">
     </a>
      <div class="media-body">
        <h3 class="media-heading">John F. Wonak, CPA, MBA</h3>
        <p>
            John provides general business and financial consulting to small and medium
            sized businesses through his firm, Sea Level Advisory Group, LLC. Prior  to
            founding Sea Level Advisory Group, John cofounded the national
            telecommunications firm, OPEX Communications, in 1998, and served as its
            Chief Financial Officer. John guided the business to peak annual revenues of
            $40 million, and eventually managed the sale of OPEX in 2007. John spent the
            first 20 years of his career in public accounting as an audit specialist,
            including  several years with the national firm, BDO Seidman, and ten years
            with his own  CPA firm which he sold in 1997. John earned both an
            undergraduate degree in  Accounting and a Masters in Business Administration
            (MBA) from Northern  Illinois University, and is a registered Certified Public
            Accountant.
        </p><p>
            Additionally, John has been an adjunct professor in the MBA
            Programs  at Northern Illinois University since 2010, has served as a coach in
            NIU’s  Experiential Learning Center (ELC), and currently sits on the Advisory
            Board  of the ELC. John has also served as an instructor at DePaul
            University’s  Coleman Center for Entrepreneurship, and currently serves as a
            mentor for  Coleman Center entrepreneurs. John is also a mentor for the Junto
            Institute for  Entrepreneurial Leadership, a post-accelerator school for
            start-ups in Chicago.
        </p>
      </div>
    </div>

    <br/>
    <br/>
    <br/>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="{% static 'img/adam.png' %}">
     </a>
      <div class="media-body">
        <h3 class="media-heading">Adam Wonak</h3>
        <p>
            Adam is a web software developer with 10 years of professional experience. He has worked on both highly available web sites receiving over 100k visitors a day, to providing big data solutions to companies in the food industry.
            Adam is a foodie who loves exploring the great restaurants in Chicago. He loves craft beer, cocktails and coffee.
        </p><p>
            His passion for building web software and collecting and trading hard to find craft beer converged with fun side project web app <a href="http://www.cellarsandtraders.com/">Cellars and Traders</a>, which is a social online beer cellar list. The site allows users to create an online portfolio of all the special beers they are collecting in their cellar. Users can view the cellars of other users too.
        </p><p>
            At Liquor Park, Adam plans on bringing his technical expertise to the table by leveraging modern technology POS and Inventory systems to show real time statics about our inventory on our web site giving our customers a wealth of up to date information about what our shop has to offer.
        </p>
      </div>
    </div>






{% endblock %}
